.test {
    display: flex;
    gap: 1re, ;
    padding: 0 2rem;
}

.test-l {
    display: flex;
    flex: 1 1;
    gap: 2rem;
    flex-direction: column;
    text-transform: uppercase;
    color: aliceblue;
}

.test-l>:nth-child(1) {
    color: var(--orange);
    font-weight: bold;


}

.test-l>:nth-child(2) {
    font-size: 3rem;
    font-weight: bold;


}

.test-l>:nth-child(3) {
    font-size: 3rem;
    font-weight: bold;


}
.test-l>:nth-child(4) {
    text-align: justify;
    text-transform: none;
    line-height: 40px;
    letter-spacing: 2px;



}

.test-r{
    flex: 1;
    position: relative;
}

.test-r>img{
    position: absolute;
    width: 17rem;
    height: 20rem;
    object-fit: cover;
    right: 8rem;
    top: 2rem; 

}

.test-r>:nth-child(1){
    position: absolute;
    width: 17rem;
    height: 20rem;
    border: 2px solid orange;
    background-color: transparent;
    right: 9rem;
    top: 1rem;
    
}
.test-r>:nth-child(2){
    position: absolute;
    width: 17rem;
    height: 19rem;
    right: 7rem;
    background:  var(--planCard);
    top: 4rem;

}

.arrows{
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 3rem;
    gap: 1rem;
}

.arrows>img{
    width: 1.5rem;
    cursor: pointer;
}